@import url('../common.css');

.article {
  font-size: calc(2.5vw + 1vh);
  text-align: center;
}

.a {
  display: block;
  width: fit-content;
  float: left;
}

.p {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.span {
  display: inline-flex;
  justify-content: center;
  justify-items: center;
}

.profiles {
  margin-left: 0.25em;
}

.svg {
  width: 1em;
  height: 1em;
  fill: var(--black);
  transition: var(--transition);
}
