html {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  align-self: center;
  font-size: 2rem;
  font-family: serif;
  font-kerning: auto;
  color: #0f0f0f;
  background: #f0f0f0;
  text-align: center;
  overflow: hidden;
  line-height: 1.25;
}

*::selection {
  color: #f0f0f0;
  background: #0f0f0f;
}

a:link,
a:visited,
a:active {
  color: #0f0f0f;
  border-bottom: 1px dotted #0f0f0f;
  text-decoration: none;
}


a:hover {
  border-bottom: 1px solid #0f0f0f;
}

.header {
  font-family: sans-serif;
}